.Home {
  align-items: center;
  background: url('../../images/stars.svg'), #1B1B25;
  background-repeat: repeat;
  display: flex;
  height: calc(100vh - 60px);
  justify-content: center;
  width: 100vw;
}

.Home__grid {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 36px;
  padding: 1rem;
}

.Home__label {
  color: white;
}

.Home__logo {
  height: 20rem;
}
